body
{
    background-color: black;
    color: blueviolet;
}

nav
{
    color:blue;
}

.navbar, .navbar .navbar-brand, .navbar .nav-link
{
    background-color:black;
    color:blueviolet;
}

.cool-border
{
    border: 1px solid blueviolet;
    border-radius: 6px;
}