body
{
    background-color: black;
    color: blueviolet;
}

.theme-primary
{
    color: blueviolet;
    background-color: black;
}

.navbar, .navbar .navbar-brand, .navbar .nav-link
{
    background-color:black;
    color:blueviolet;
}

.cool-border
{
    border: 1px solid blueviolet;
    border-radius: 6px;
}

.navbar-toggler-icon
{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='blueviolet' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.cool-card
{
    background-color: black;
    /*background-color: #290028;*/
    border-color: blueviolet;
    border-width: 1px;
    color: blueviolet;

}

.icon-circle
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid blueviolet;
  padding: 6px;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: visible;
}

.icon-circle-big
{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid blueviolet;
  padding: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: visible;
}

.icon-btn
{
  padding: 0;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: blueviolet;

}

.icon-btn:hover
{
  color: cyan;
}

.card-btn
{
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
}

.card-btn:hover
{
    color: white;
    background-color: rgb(118, 3, 226);
    border-color: rgb(118, 3, 226);
}

.hov:hover
{
    color:cyan;
}

.card:hover {
    transform: translateY(-1px);
    border-color: cyan;
}

:root {
    --bs-primary: blueviolet;
    --bs-secondary: blueviolet;
    --bs-success: blueviolet;
}